<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>EASS</title>

	<link href="https://netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css" rel="stylesheet">
	<link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="assets/css/custom.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oswald:400,300,700|Source+Sans+Pro:400,300" rel="stylesheet" type="text/css">

	<script type="text/javascript" src="assets/js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="assets/js/angular.min.js"></script>
	<script type="text/javascript" src="assets/js/angular-animate.min.js"></script>
	<script type="text/javascript" src="assets/js/eass.js"></script>

</head>

<body ng-app="eassApp">
<div id="header">
	<div class="container">
		<p id="home" class="pull-right">
			<a href="#"><i class="fa fa-2x fa-home"></i></a>
		</p>
		<div id="logo"><img src="assets/img/eass-logo.png" alt=""/></div>
		<ul class="nav navbar-nav">
			<li><a href="#">Forside</a></li>
			<li><a href="#">Om oss</a></li>
			<li><a href="#">Kvalitet/HMS/Miljø</a></li>
			<li><a href="#">Tjenester</a></li>
			<li><a href="#">Aktuelt</a></li>
			<li><a href="#">Befaring</a></li>
			<li><a href="#">Jobb hos oss</a></li>
			<li><a href="#">Kontakt</a></li>
		</ul>
	</div>
</div>
<div id="main" ng-controller="HomeImgCtrl">
	<div class="container">
		<div class="row">
			<div class="col-md-4" ng-mouseover="change('renhold')" ng-mouseleave="reset()">
				<img class="placeholder" src="assets/img/renhold-left.jpg" ng-src="{{ 'assets/img/'+left }}" loading-fx alt=""/>
				<div class="panel panel-default">
					<div class="panel-body">
						<h3>Renhold</h3>
						<p>Vår renholdsavdeling er bygget opp av de mest erfarne fagfolk i vårt distrikt. Vår ren- holdsavdeling er bygget opp av de mest erfarne fagfolk i vårt distrikt. Vår ren- holdsavdeling er bygget opp av de mest erfarne fagfolk i vårt distrikt.</p>
						<hr/>
						<h4 class="text-right">
							<a href="#">Les mer <i class="fa fa-chevron-right"></i></a>
						</h4>
					</div>
				</div>
			</div>
			<div class="col-md-4" ng-mouseover="change('kantine')" ng-mouseleave="reset()">
				<img class="placeholder" src="assets/img/kantine-middle.jpg" ng-src="{{ 'assets/img/'+middle }}" loading-fx alt=""/>
				<div class="panel panel-default">
					<div class="panel-body">
						<h3>Kantine</h3>
						<p>Vår renholdsavdeling er bygget opp av de mest erfarne fagfolk i vårt distrikt. Vår ren- holdsavdeling er bygget opp av de mest erfarne fagfolk i vårt distrikt. Vår ren- holdsavdeling er bygget opp av de mest erfarne fagfolk i vårt distrikt.</p>
						<hr/>
						<h4 class="text-right">
							<a href="#" ng-click="change('kantine')">Les mer <i class="fa fa-chevron-right"></i></a>
						</h4>
					</div>
				</div>
			</div>
			<div class="col-md-4" ng-mouseover="change('vaktmesterservice')" ng-mouseleave="reset()">
				<img class="placeholder" src="assets/img/vaktmesterservice-right.jpg" ng-src="{{ 'assets/img/'+right }}" loading-fx alt=""/>
				<div class="panel panel-default">
					<div class="panel-body">
						<h3>Vaktmesterservice</h3>
						<p>Vår renholdsavdeling er bygget opp av de mest erfarne fagfolk i vårt distrikt. Vår ren- holdsavdeling er bygget opp av de mest erfarne fagfolk i vårt distrikt. Vår ren- holdsavdeling er bygget opp av de mest erfarne fagfolk i vårt distrikt.</p>
						<hr/>
						<h4 class="text-right">
							<a href="#" ng-click="change('vaktmesterservice')">Les mer <i class="fa fa-chevron-right"></i></a>
						</h4>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<footer>
	<div class="container">
		<div id="footer-omoss" class="row">
			<div class="col-md-8">
				<h4>EASS</h4>
				<p>
					<img class="pull-right" src="assets/img/toma-gruppen.png" alt="Toma Gruppen"/>
					Eiendomsassistanse AS er en del av Toma Gruppen og er en totalleverandør av servicetjenester innenfor renhold, vaktmester, kantine, gartner, vakt og sikkerhet og eiendomsforvaltning.
				</p>
			</div>
			<div class="col-md-2 col-md-offset-2">
				<h4>KONTAKT</h4>
				<p>
					Eiendomsassistanse AS<br/>
					Tel.: 71 21 61 40<br/>
					E-post: post@eass.no
				</p>
			</div>
		</div>
	</div>
</footer>
</body>

</html>
