body {
  background: #f1f1f1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
div.panel {
  position: relative;
  border-radius: 6px;
  box-shadow: none;
  z-index: 400;
  margin-top: -14px;
}
#home {
  margin: 36px 12px 0;
}
#home a {
  color: #fff;
}
a {
  color: #999;
}
a:hover {
  color: #db2611;
  text-decoration: none;
}
h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 240%;
  font-weight: 400;
  color: #db2611;
}
h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
img.placeholder {
  position: relative;
  width: 100%;
  height: 460px;
  z-index: 100;
}
div#header {
  position: relative;
  background: #000;
  z-index: 1000;
}
div#main {
  position: relative;
  z-index: 100;
}
div#logo {
  padding: 24px 0;
}
ul.navbar-nav {
  display: box;
  background: #000;
  margin-left: -16px;
  margin-bottom: -14px;
  font-size: 120%;
}
ul.navbar-nav li a {
  font-family: 'Oswald', sans-serif;
  border-bottom: 4px solid #000;
  margin-left: 24px;
  padding: 6px 1px;
  color: #fff;
}
ul.navbar-nav li a:hover {
  background: #000;
  border-bottom: 4px solid #e4131a;
}
footer {
  color: #555;
}
