<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>EASS</title>

	<link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">

	<link href="https://netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css" rel="stylesheet">
	<link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="assets/css/custom.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oswald:400,300,700|Source+Sans+Pro:400,300" rel="stylesheet" type="text/css">

	<script type="text/javascript" src="assets/js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="assets/js/angular.min.js"></script>
	<script type="text/javascript" src="assets/js/angular-animate.min.js"></script>
	<script type="text/javascript" src="assets/js/eass.js"></script>

</head>

<body ng-app="eassApp">
<div id="header">
	<div class="container">
		<p id="home" class="pull-right">
			<a href="#"><i class="fa fa-2x fa-home"></i></a>
		</p>
		<div id="logo"><img src="assets/img/eass-logo.png" alt=""/></div>
		<ul class="nav navbar-nav">
			<li><a href="index.html">Forside</a></li>
			<li><a href="om-oss.html">Om oss</a></li>
			<li><a href="kvalitet.html">Kvalitet/HMS/Miljø</a></li>
			<li><a href="tjenester.html">Tjenester</a></li>
			<li><a href="#">Aktuelt</a></li>
			<li><a href="#">Befaring</a></li>
			<li><a href="#">Jobb hos oss</a></li>
			<li><a href="kontakt-oss.html">Kontakt</a></li>
		</ul>
	</div>
</div>
<div id="main">
	<div class="container">
		<div class="row" ng-controller="ContactCtrl">
			<div class="col-md-12 img-wrap">
				<img class="placeholder" src="assets/img/vaktmesterservice.png" alt=""/>
			</div>
			<div class="col-md-3">
				<ul class="nav sidenav">
					<li ng-click="change('hovedkontor')" ng-class="{selected: isSelected('hovedkontor')}">Hovedkontor</li>
					<li ng-click="change('salgsavdeling')" ng-class="{selected: isSelected('salgsavdeling')}">Salgsavdeling</li>
					<li ng-click="change('molde')" ng-class="{selected: isSelected('molde')}">Molde</li>
					<li ng-click="change('kristiansund')" ng-class="{selected: isSelected('kristiansund')}">Kristiansund</li>
					<li ng-click="change('alesund')" ng-class="{selected: isSelected('alesund')}">Ålesund</li>
					<li ng-click="change('andalsnes')" ng-class="{selected: isSelected('andalsnes')}">Åndalsnes</li>
				</ul>
			</div>
			<div class="col-md-7">
				<div class="panel panel-default panel-standalone">
					<div class="panel-body">
						<h3>Kontakt oss</h3>

						<div class="row">
							<div class="col-md-6" ng-class="{'am-slide-top': isDeselected('molde')}">
								<h4>Molde</h4>

								<p>EASS Eiendomsassistanse AS<br/>
									Oscar Hanssensveg 7<br/>
									6415 Molde</p>

								<p>Telefon: 71 21 61 40<br/>
									Fax: 71 21 61 41<br/>
									Vakttelefon: 71 21 61 40</p>
							</div>

							<div class="col-md-6" ng-class="{'am-slide-top': isDeselected('kristiansund')}">
								<h4>Kristiansund</h4>

								<p>Omagata 108<br/>
									6517 Kristiansund<br/>
									&nbsp;</p>

								<p>Telefon 479 35 616<br/>
									Fax 71 21 61 41<br/>
									Vakttelefon: 71 21 61 40</p>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6" ng-class="{'am-slide-top': isDeselected('alesund')}">
								<h4>ÅLESUND</h4>

								<p>Lerstadveien 506<br/>
									6018 Ålesund<br/>
									Telefon: 98 83 21 36</p>
							</div>

							<div class="col-md-6" ng-class="{'am-slide-top': isDeselected('andalsnes')}">
								<h4>ÅNDALSNES</h4>

								<p>Storgata 2<br/>
									6300 Åndalsnes<br/>
									Telefon: 95 74 69 54</p>
							</div>
						</div>

						<hr/>

						<div class="row">
							<div class="col-md-6" ng-class="{'am-slide-top': isDeselected('molde')}">
								<h4>Kjell Elnes</h4>
								<p>Daglig leder</p>

								<p>E-mail: ke@eass.no<br/>
									Mobil: 92668303</p>
							</div>

							<div class="col-md-6" ng-class="{'am-slide-top': isDeselected('kristiansund')}">
								<h4>Helene Rødsand</h4>
								<p>Avdelingsleder for avd. Kristiansund</p>

								<p>E-mail: Helene.Rodsand@eass.no<br/>
									Mobil: 47935616</p>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6" ng-class="{'am-slide-top': isDeselected('molde')}">
								<h4>Kjetil Sletta</h4>
								<p>Salgsleder</p>

								<p>E-mail: ks@eass.no<br/>
									Tlf: 48338715</p>
							</div>

							<div class="col-md-6" ng-class="{'am-slide-top': isDeselected('kristiansund')}">
								<h4>Halldis Johnsen</h4>
								<p>Avdelingsleder renhold og kantine</p>

								<p>E-mail: hj@eass.no<br/>
									Mobil: 92649839</p>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6" ng-class="{'am-slide-top': isDeselected('molde')}">
								<h4>Marry Janne Kolberg</h4>
								<p>Avdelingsleder hovedrenhold og hjemmeservice</p>

								<p>E-mail: mj@eass.no<br/>
									Mobil: 92624310</p>
							</div>

							<div class="col-md-6" ng-class="{'am-slide-top': isDeselected('andalsnes')}">
								<h4>Inger-Lise Hovde Hatlen</h4>
								<p>Leder for avd. Åndalsnes</p>

								<p>E-mail: ih@eass.no<br/>
									Mobil: 95746954</p>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6" ng-class="{'am-slide-top': isDeselected('alesund')}">
								<h4>Maria Therese Søvik</h4>
								<p>Leder for avdeling Ålesund</p>

								<p>E-mail: mts@eass.no<br/>
									Mobil: 98832136</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer>
	<div class="container">
		<div id="footer-omoss-small" class="row">
			<div class="col-md-12">
				<p>
					Eiendomsassistanse AS, Tel. 71 21 61 40, E-post: post@eass.no
				</p>
			</div>
		</div>
	</div>
</footer>
</body>

</html>
