<li ng-click="change('hovedkontor')" ng-class="{selected: isSelected('hovedkontor')}">Hovedkontor</li>
<li ng-click="change('salgsavdeling')" ng-class="{selected: isSelected('salgsavdeling')}">Salgsavdeling</li>
<li ng-click="change('molde')" ng-class="{selected: isSelected('molde')}">Molde</li>
<li ng-click="change('kristiansund')" ng-class="{selected: isSelected('kristiansund')}">Kristiansund</li>
<li ng-click="change('alesund')" ng-class="{selected: isSelected('alesund')}">Ålesund</li>
<li ng-click="change('andalsnes')" ng-class="{selected: isSelected('andalsnes')}">Åndalsnes</li>

<h3>Kontakt oss</h3>

<div class="row">
	<div class="col-md-6" ng-class="{'am-slide-top': isDeselected('molde')}">
		<h4>Molde</h4>

		<p>EASS Eiendomsassistanse AS<br/>
			Oscar Hanssensveg 7<br/>
			6415 Molde</p>

		<p>Telefon: 71 21 61 40<br/>
			Fax: 71 21 61 41<br/>
			Vakttelefon: 71 21 61 40</p>
	</div>

	<div class="col-md-6" ng-class="{'am-slide-top': isDeselected('kristiansund')}">
		<h4>Kristiansund</h4>

		<p>Omagata 108<br/>
			6517 Kristiansund<br/>
			&nbsp;</p>

		<p>Telefon 479 35 616<br/>
			Fax 71 21 61 41<br/>
			Vakttelefon: 71 21 61 40</p>
	</div>
</div>

<div class="row">
	<div class="col-md-6" ng-class="{'am-slide-top': isDeselected('alesund')}">
		<h4>ÅLESUND</h4>

		<p>Lerstadveien 506<br/>
			6018 Ålesund<br/>
			Telefon: 98 83 21 36</p>
	</div>

	<div class="col-md-6" ng-class="{'am-slide-top': isDeselected('andalsnes')}">
		<h4>ÅNDALSNES</h4>

		<p>Storgata 2<br/>
			6300 Åndalsnes<br/>
			Telefon: 95 74 69 54</p>
	</div>
</div>

<hr/>

<div class="row">
	<div class="col-md-6" ng-class="{'am-slide-top': isDeselected('molde')}">
		<h4>Kjell Elnes</h4>
		<p>Daglig leder</p>

		<p>E-mail: ke@eass.no<br/>
			Mobil: 92668303</p>
	</div>

	<div class="col-md-6" ng-class="{'am-slide-top': isDeselected('kristiansund')}">
		<h4>Helene Rødsand</h4>
		<p>Avdelingsleder for avd. Kristiansund</p>

		<p>E-mail: Helene.Rodsand@eass.no<br/>
			Mobil: 47935616</p>
	</div>
</div>

<div class="row">
	<div class="col-md-6" ng-class="{'am-slide-top': isDeselected('molde')}">
		<h4>Kjetil Sletta</h4>
		<p>Salgsleder</p>

		<p>E-mail: ks@eass.no<br/>
			Tlf: 48338715</p>
	</div>

	<div class="col-md-6" ng-class="{'am-slide-top': isDeselected('kristiansund')}">
		<h4>Halldis Johnsen</h4>
		<p>Avdelingsleder renhold og kantine</p>

		<p>E-mail: hj@eass.no<br/>
			Mobil: 92649839</p>
	</div>
</div>

<div class="row">
	<div class="col-md-6" ng-class="{'am-slide-top': isDeselected('molde')}">
		<h4>Marry Janne Kolberg</h4>
		<p>Avdelingsleder hovedrenhold og hjemmeservice</p>

		<p>E-mail: mj@eass.no<br/>
			Mobil: 92624310</p>
	</div>

	<div class="col-md-6" ng-class="{'am-slide-top': isDeselected('andalsnes')}">
		<h4>Inger-Lise Hovde Hatlen</h4>
		<p>Leder for avd. Åndalsnes</p>

		<p>E-mail: ih@eass.no<br/>
			Mobil: 95746954</p>
	</div>
</div>

<div class="row">
	<div class="col-md-6" ng-class="{'am-slide-top': isDeselected('alesund')}">
		<h4>Maria Therese Søvik</h4>
		<p>Leder for avdeling Ålesund</p>

		<p>E-mail: mts@eass.no<br/>
			Mobil: 98832136</p>
	</div>
</div>
